.App {
  background-color: #003049;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding-top: 24px;
  float: left;
  padding-left: 24px;
}

.App-section {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* URL editor */
.editor-container {
  display: flex;
  align-items: center;
}

.input-box {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: #353535;
}

.input-box:focus {
  outline: none;
  box-shadow: none;
  outline-offset: 0;
}


.input-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #d62828;
  border: 2px #d62828 solid;
  color: #fcbf49;
  cursor: pointer;
}

.input-button:hover {
  background-color: #fcbf49;
  border: 2px #fcbf49 solid;
  color: #d62828;
}

/* URL Result */
.result-container {
  min-height: 40px;
  border: 1px #fcbf49 solid;
  margin-top: 16px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.result-url {
  color: white;
  padding-left: 10px;
  cursor: text;
}

.copy-button {
  padding-right: 10px;
  cursor: pointer;
  color: #fcbf49;
}

.copy-button:hover {
  color: #d62828;
}



/* Adding responsivenewss */
@media (max-width: 400px) {
  .input-box {
    max-width: 150px;
  }
}